.center-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  header, footer {
    text-align: center;
    width: 100%;
  }

  footer{
    position: fixed;
    bottom: 0;
  }

  mat-toolbar-row{
    justify-content: center;
  }
}
